<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udea.compumovil.gr01_20171.proyectoescuela">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true">

        <activity android:name=".Vista.PantallaPpal">
        </activity>
        <activity
            android:name=".Vista.SeguimientoCognitivo"
            android:label="@string/title_activity_seguimiento_cognitivo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Vista.AgregarEstudiantes"></activity>
        <activity android:name=".Vista.SegCogEstudiante" />
        <activity android:name=".Vista.PantallaConfiguracion" />
        <activity android:name=".Vista.PantallaProfesor" />
        <activity android:name=".Vista.DialogAgregarGrupos" />
        <activity android:name=".Vista.ListarEstudiantes" />

        <activity android:name=".Vista.InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Vista.Asistencia"></activity>
        <activity android:name=".Vista.vistasMetas.PrincipalMetas"></activity>
        <activity android:name=".Vista.vistasMetas.CreacionMeta"></activity>
        <activity android:name=".Vista.vistasMetas.Cumplimiento"></activity>
    </application>

</manifest>